<div id="map-link" class="col-lg-12 dash-col">
    <header>
      <h3>MAP - <span class="info">Click on red markers to view the city's data</span></h3>
    </header>
    <section id="map-view">
      <div id="map">
        <div id="overlay"></div>
        <div id="popup" data-toggle="popover" data-trigger="focus" data-placement="top">
            <h3 id="city"></h3>
            <p id="country"></p>
        </div>
        <div id="tooltip" data-toggle="popover" data-trigger="focus" data-placement="top">
            <h3 id="city"></h3>
            <p id="country"></p>
        </div>
      </div>
      <div id="info">&nbsp;</div>
    </section>
</div>
