<!-- Modal -->
<div class="modal fade" id="intro-modal" tabindex="-1" role="dialog" aria-labelledby="introModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                 <h2 class="modal-title" id="introModalLabel">Musimap: Getting Started</h2>

            </div>
            <div class="modal-body">
                <p>Musimap is a musical analysis of the most popular tracks in each city relative to the rest of the world.
                   It's designed to ease the process of finding local artists in a particular region as opposed to looking at the top hits on a global scale.
                   Thus, exposing you to new tracks and artists which match your musical preference.</p>
                <h3>How to use the app</h3>
                <ol>
                  <ul>1. Click on a map marker to generate an analysis of that city's playlist</ul>
                  <ul>2. Scroll down to interact with the data</ul>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Got it</button>
            </div>
        </div>
    </div>
</div>
