<nav class="navbar navbar-static-top">
  <a class="navbar-brand" href="/dashboard">DASHBOARD</a>

  <span class="pull-right">
  <ul class="navbar-nav pull-right">
    <li class="nav-item">
      <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSe1QiwpPCM2Dr5Kh2GSn8HR7QJm9BC_n_4YSccNNjtN4k2yzQ/viewform" target="_blank">FEEDBACK</a>
    </li>
    <li>
      <a href="/logout"><span class="button-logout">Log out</span></a>
    </li>
  </ul>
  </span>
  <!--<img class="img-avatar pull-right" alt="Avatar icon" src="../img/unknown.svg">-->
</nav>
