<div id="overview-link" class="col-lg-12">
  <h4>The sounds of </h4>
  <h1 id="city-name"></h1>
</div>

<div class="col-lg-4 col-md-4 col-sm-12">
  <div class="col-lg-12 dash-col dash-overview red">
    {{> bubbleLoading}}
    <div class="overview-content">
      <img src="../img/soundwaves.svg" class="overview-icon">
      <p id="genre-overview" class="overview"></p>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12">
  <div class="col-lg-12 dash-col dash-overview blue">
    {{> bubbleLoading}}
    <div class="overview-content">
      <img src="../img/calendars.svg" class="overview-icon">
      <p id="year-overview" class="overview"></p>
    </div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12">
  <div class="col-lg-12 dash-col dash-overview green">
  {{> bubbleLoading}}
  <div class="overview-content">
    <img src="../img/Mic.svg" class="overview-icon">
    <p id="artist-overview" class="overview"></p>
  </div>
</div>
</div>
