<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a href="#map-link"><img class="dash-icons" title='Map' src="../img/marker.svg"></a>
        </li>
        <li>
            <a href="#tracks-link"><img class="dash-icons" title="Tracks" src="../img/dash-tracks.svg"></a>
        </li>
        <li>
              <a href="#years-link"><img class="dash-icons" title='Years' src="../img/dash-calendar.svg"></a>
        </li>
        <li>
            <a href="#artist-link"><img class="dash-icons" title="Artists" src="../img/dash-artist.svg"></a>
        </li>
        <li>
            <a href="#genres-link"><img class="dash-icons" title="Genres" src="../img/dash-genres.svg"></a>
        </li>
    </ul>
</div>
